<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <h4>History</h4>
    </header>
    <div id="tester" style="width:500px;height:650px;display:block;float:left"></div>
    <div id="tester_2" style="width:500px;height:650px;display:block;float:right"></div>
    <div id="tester_3" style="width:500px;height:650px;display:block;float:left"></div>
    <div id="tester_4" style="width:500px;height:650px;display:block;float:right"></div>
    <div id="tester_5" style="width:500px;height:650px;display:block;float:left"></div>
    <div id="tester_6" style="width:500px;height:650px;display:block;float:right"></div>
    <script>

      var weight=[];
      var height=[];
      var bmi=[];
      var cholesterol=[];
      var sleepPatterns=[];
      var bloodSugar=[];
      var time= [];

      <% for(i in data){%>
        weight.push(<%= data[i].weight%>)
        height.push(<%= data[i].height%>)
        bmi.push(<%= data[i].bmi%>)
        cholesterol.push(<%= data[i].cholesterol%>)
        sleepPatterns.push(<%= data[i].sleepPatterns%>)
        bloodSugar.push(<%= data[i].bloodSugar%>)
        time.push('<%= data[i].dateAndTime%>')
    <%  }%>
    console.log(typeof(time[1]));
    TESTER = document.getElementById('tester');

      var weight_graph = [{
        mode: 'lines+markers',
        x: time,
        y: weight
      }];
      var layout = {
                title: 'Weight Comparison Report',
                xaxis: {
                    title: 'Date',
                    titlefont: {
                        size: 16,
                        color: 'rgb(107, 107, 107)'
                    },
                    tickfont: {
                    size: 14,
                    color: 'rgb(107, 107, 107)'
                }},
                yaxis: {
                    title: 'Weights (kgs)',
                    titlefont: {
                        size: 16,
                        color: 'rgb(107, 107, 107)'
                    },
                    tickfont: {
                        size: 14,
                        color: 'rgb(107, 107, 107)'
                    }
                }
            };
            Plotly.newPlot(TESTER, weight_graph,layout);


            TESTER = document.getElementById('tester_2');

        var height_graph = [{
              mode: 'lines+markers',
              x: time,
              y: height
            }];
            var layout = {
                      title: 'Height Comparison Report',
                      xaxis: {
                          title: 'Date',
                          titlefont: {
                              size: 16,
                              color: 'rgb(107, 107, 107)'
                          },
                          tickfont: {
                          size: 14,
                          color: 'rgb(107, 107, 107)'
                      }},
                      yaxis: {
                          title: 'Heighty (cm)',
                          titlefont: {
                              size: 16,
                              color: 'rgb(107, 107, 107)'
                          },
                          tickfont: {
                              size: 14,
                              color: 'rgb(107, 107, 107)'
                          }
                      }
                  };
                  Plotly.newPlot(TESTER, height_graph,layout);



                TESTER = document.getElementById('tester_3');

                  var bmi_graph = [{
                    mode: 'lines+markers',
                    x: time,
                    y: bmi
                  }];
                  var layout = {
                            title: 'BMI Comparison Report',
                            xaxis: {
                                title: 'Date',
                                titlefont: {
                                    size: 16,
                                    color: 'rgb(107, 107, 107)'
                                },
                                tickfont: {
                                size: 14,
                                color: 'rgb(107, 107, 107)'
                            }},
                            yaxis: {
                                title: 'BMI ',
                                titlefont: {
                                    size: 16,
                                    color: 'rgb(107, 107, 107)'
                                },
                                tickfont: {
                                    size: 14,
                                    color: 'rgb(107, 107, 107)'
                                }
                            }
                        };
                        Plotly.newPlot(TESTER, bmi_graph,layout);


                      TESTER = document.getElementById('tester_4');

                        var cholesterol_graph = [{
                          mode: 'lines+markers',
                          x: time,
                          y: cholesterol
                        }];
                        var layout = {
                                  title: 'Cholesterol Comparison Report',
                                  xaxis: {
                                      title: 'Date',
                                      titlefont: {
                                          size: 16,
                                          color: 'rgb(107, 107, 107)'
                                      },
                                      tickfont: {
                                      size: 14,
                                      color: 'rgb(107, 107, 107)'
                                  }},
                                  yaxis: {
                                      title: 'Cholesterol ',
                                      titlefont: {
                                          size: 16,
                                          color: 'rgb(107, 107, 107)'
                                      },
                                      tickfont: {
                                          size: 14,
                                          color: 'rgb(107, 107, 107)'
                                      }
                                  }
                              };
                              Plotly.newPlot(TESTER, cholesterol_graph,layout);

                            TESTER = document.getElementById('tester_5');

                              var sleepPatterns_graph = [{
                                mode: 'lines+markers',
                                x: time,
                                y: sleepPatterns
                              }];
                              var layout = {
                                        title: 'SleepPatterns Comparison Report',
                                        xaxis: {
                                            title: 'Date',
                                            titlefont: {
                                                size: 16,
                                                color: 'rgb(107, 107, 107)'
                                            },
                                            tickfont: {
                                            size: 14,
                                            color: 'rgb(107, 107, 107)'
                                        }},
                                        yaxis: {
                                            title: 'Weights (kgs)',
                                            titlefont: {
                                                size: 16,
                                                color: 'rgb(107, 107, 107)'
                                            },
                                            tickfont: {
                                                size: 14,
                                                color: 'rgb(107, 107, 107)'
                                            }
                                        }
                                    };
                                    Plotly.newPlot(TESTER, sleepPatterns_graph,layout);

                                  TESTER = document.getElementById('tester_6');

                                    var bloodSugar_graph = [{
                                      mode: 'lines+markers',
                                      x: time,
                                      y: bloodSugar
                                    }];
                                    var layout = {
                                              title: 'Blood Sugar Comparison Report',
                                              xaxis: {
                                                  title: 'Date',
                                                  titlefont: {
                                                      size: 16,
                                                      color: 'rgb(107, 107, 107)'
                                                  },
                                                  tickfont: {
                                                  size: 14,
                                                  color: 'rgb(107, 107, 107)'
                                              }},
                                              yaxis: {
                                                  title: 'Blood Sugar',
                                                  titlefont: {
                                                      size: 16,
                                                      color: 'rgb(107, 107, 107)'
                                                  },
                                                  tickfont: {
                                                      size: 14,
                                                      color: 'rgb(107, 107, 107)'
                                                  }
                                              }
                                          };
                                          Plotly.newPlot(TESTER, bloodSugar_graph,layout);


    </script>

</div>

<% include partials/footer %>
